
daemonize \
    -c "{{ otc_ws_data }}" \
    "{{ ws_dir }}/local/bin/otc-tol-ws" \
    "{{ custom_to_serve_par }}/{{ custom_synth_id }}/{{ custom_synth_id }}/bumped_ott" \
    "-D{{ custom_to_serve_par }}/{{ custom_synth_id }}" \
    "-p{{ otc_ws_data }}/wspidfile.txt" \
    -P1984 \
    --num-threads=4 || exit


