# This can be inserted into the app:main section
propinquity.scratch_dir={{ install_location }}/custom_synth_scratch
propinquity.propinquity_dir={{ install_location }}/custom_synth_propinquity
propinquity.init_config_json={{ install_location }}/custom_config/propinq_config.json
propinquity.propinquity_env={{ install_location }}/custom_config/propinq_ws_env.sh
propinquity.sleep_seconds=1


