# This can be inserted into the app:main section
canonical_url=https://{{ ansible_host }}
propinquity.scratch_dir={{ synth_dir }}/custom_synth_scratch
propinquity.propinquity_dir={{ synth_dir }}/propinquity
propinquity.init_config_json={{ synth_dir }}/custom_config/propinq_config.json
propinquity.propinquity_env={{ synth_dir }}/custom_config/propinq_ws_env.sh
propinquity.sleep_seconds=1


