#!/bin/bash
if pgrep pserve >/dev/null ; then
    if test -f "{{ install_location }}/ws_wrapper/pid" ; then
        pkill -F "{{ install_location }}/ws_wrapper/pid" pserve|| exit
    else
        pgrep pserve > "{{ install_location }}/ws_wrapper/pid"
        pkill -F "{{ install_location }}/ws_wrapper/pid" pserve|| exit
    fi
fi
if test -f "{{ install_location }}/ws_wrapper/pid" ; then
    rm "{{ install_location }}/ws_wrapper/pid" || exit
fi

export PATH="/usr/sbin:${PATH}"

daemonize -p "{{ install_location }}/ws_wrapper/pid" \
          -c "{{ install_location }}/ws_wrapper" \
          "{{ venv_otcws }}/bin/pserve" wswrapper.ini || exit

