#!/usr/bin/env python
# -*- coding: utf-8 -*-
# Lines 3 - 16 used to be from virtualenv activate_this.py, but some versions are broken
import site
import sys
import os
_ve_base = '{{ venv_web2py }}'
_ve_bin_dir = '{}/bin'.format(_ve_base)
_ve_site_packages = '{}/lib/python2.7/site-packages'.format(_ve_base)
os.environ["PATH"] = os.pathsep.join([_ve_bin_dir] + os.environ.get("PATH", "").split(os.pathsep))
os.environ["VIRTUAL_ENV"] = _ve_base
prev_length = len(sys.path)
site.addsitedir(_ve_site_packages)
sys.path[:] = sys.path[prev_length:] + sys.path[0:prev_length]
sys.real_prefix = sys.prefix
sys.prefix = _ve_base

sys.path.insert(0, '{{ ot_repo_dir }}/web2py')

"""
This file is part of the web2py Web Framework
Copyrighted by Massimo Di Pierro <mdipierro@cs.depaul.edu>
License: LGPLv3 (http://www.gnu.org/licenses/lgpl.html)


This is a WSGI handler for Apache
Requires apache+mod_wsgi.

In httpd.conf put something like:

    LoadModule wsgi_module modules/mod_wsgi.so
    WSGIScriptAlias / /path/to/wsgihandler.py

"""

# change these parameters as required
LOGGING = False
SOFTCRON = False

import sys
import os

path = os.path.dirname(os.path.abspath(__file__))
os.chdir(path)

if not os.path.isdir('applications'):
    raise RuntimeError('Running from the wrong folder')

sys.path = [path] + [p for p in sys.path if not p == path]

sys.stdout = sys.stderr

import gluon.main

if LOGGING:
    application = gluon.main.appfactory(wsgiapp=gluon.main.wsgibase,
                                        logfilename='httpserver.log',
                                        profiler_dir=None)
else:
    application = gluon.main.wsgibase

if SOFTCRON:
    from gluon.settings import global_settings
    global_settings.web2py_crontype = 'soft'
