# This file is for apache 2.4+.
# Adapting SSL settings (second VirtualHost) from /etc/apache2/sites-available/default-ssl
#   in apache2 as installed in ubuntu 12.04.
# See notes in /etc/apache2/sites-available/opentree-ssl.conf as well

<IfModule mod_ssl.c>
<VirtualHost *:443>
    ServerName {{ ansible_host }}
    ErrorLog ${APACHE_LOG_DIR}/ssl_error.log
    LogLevel warn
    SSLEngine on

    # Certificates copied by hand or using ot-private directory
    SSLCertificateFile    /etc/letsencrypt/live/opentreeoflife.org/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/opentreeoflife.org/privkey.pem

    #   SSL Engine Options:
    <FilesMatch "\.(cgi|shtml|phtml|php)$">
        SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory /usr/lib/cgi-bin>
        SSLOptions +StdEnvVars
    </Directory>

    # OPENTREE SHARED CONFIGURATION
    Include /etc/apache2/opentree-shared.conf

</VirtualHost>
</IfModule>
