[ott]
# directory of holding ott.
parent = {{ synth_dir }}/ott/{{ ott_synth_full_version }}/ott


[logging]
level = debug
filepath = "{{ synth_dir }}/propinquity/peyotl_opentree{{ next_synth_version }}.log"
formatter = rich
