[security]
secure_sessions_with_HTTPS = true

# List public-facing base URL for treemachine and taxomachine services
# (NOTE that these are used by both server- and client-side code)
[domains]
treemachine = {{ tree_of_life_endpoint }}
taxomachine = {{ taxonomy_endpoint }}
curator_url = {{ curator_endpoint }}

# Building on the URLs above, complete the public-facing URL for all methods
# (again, these should work from both server- and client-side code)
#
# NOTE: In our example setup, all service methods are proxied through Apache as
# URLs within the main opentree site. So we assume that partial paths '/db/data/'
# are handled in the ProxyPass statement.
[method_urls]
getDraftTreeID_url = {{ tree_of_life_endpoint_cache }}/v3/tree_of_life/about
getSyntheticTree_url = {{ tree_of_life_endpoint_cache }}/v3/tree_of_life/subtree
getDraftSubtree_url = {{ tree_of_life_endpoint }}/v3/tree_of_life/subtree
doTNRSForAutocomplete_url = {{ taxonomy_endpoint }}/v3/tnrs/autocomplete_name
getContextsJSON_url = {{ taxonomy_endpoint_cache }}/v3/tnrs/contexts
getSynthesisSourceList_url = {{ tree_of_life_endpoint_cache }}/v3/tree_of_life/about
findAllStudies_url = {{ study_index_endpoint_cache }}/v3/studies/find_studies
singlePropertySearchForStudies_url = {{ study_index_endpoint }}/v3/studies/find_studies
getTaxonInfo_url = {{ taxonomy_endpoint }}/v3/taxonomy/taxon_info
# Include one phylesystem-api method to download NexSON from Bibliographic References page
API_load_study_GET_url = {{ study_api_endpoint }}/v3/study/{STUDY_ID}
